# Introduction to Pandas Lab

Complete the following set of exercises to solidify your knowledge of Pandas fundamentals.

### 1. Import Numpy and Pandas and alias them to `np` and `pd` respectively.

In [138]:
import pandas as pd
import numpy as np

### 2. Create a Pandas Series containing the elements of the list below.

In [141]:
lst = [5.7, 75.2, 74.4, 84.0, 66.5, 66.3, 55.8, 75.7, 29.1, 43.7]

In [143]:
# Creates a pandas series with the elements provided for lst.
series = pd.Series(lst)
print(series)

0     5.7
1    75.2
2    74.4
3    84.0
4    66.5
5    66.3
6    55.8
7    75.7
8    29.1
9    43.7
dtype: float64

### 3. Use indexing to return the third value in the Series above.

*Hint: Remember that indexing begins at 0.*

In [146]:
# Uses indexing to return the third value in the series created in the previous step.
print(series[2])

74.4

### 4. Create a Pandas DataFrame from the list of lists below. Each sublist should be represented as a row.

In [149]:
b = [[53.1, 95.0, 67.5, 35.0, 78.4],
     [61.3, 40.8, 30.8, 37.8, 87.6],
     [20.6, 73.2, 44.2, 14.6, 91.8],
     [57.4, 0.1, 96.1, 4.2, 69.5],
     [83.6, 20.5, 85.4, 22.8, 35.9],
     [49.0, 69.0, 0.1, 31.8, 89.1],
     [23.3, 40.7, 95.0, 83.8, 26.9],
     [27.6, 26.4, 53.8, 88.8, 68.5],
     [96.6, 96.4, 53.4, 72.4, 50.1],
     [73.7, 39.0, 43.2, 81.6, 34.7]]

In [151]:
# Creates a pandas data frame from the list in b.
b = [[53.1, 95.0, 67.5, 35.0, 78.4],
     [61.3, 40.8, 30.8, 37.8, 87.6],
     [20.6, 73.2, 44.2, 14.6, 91.8],
     [57.4, 0.1, 96.1, 4.2, 69.5],
     [83.6, 20.5, 85.4, 22.8, 35.9],
     [49.0, 69.0, 0.1, 31.8, 89.1],
     [23.3, 40.7, 95.0, 83.8, 26.9],
     [27.6, 26.4, 53.8, 88.8, 68.5],
     [96.6, 96.4, 53.4, 72.4, 50.1],
     [73.7, 39.0, 43.2, 81.6, 34.7]]
data = pd.DataFrame(b)
print(data)
# Each sublist is represented as a row.

      0     1     2     3     4
0  53.1  95.0  67.5  35.0  78.4
1  61.3  40.8  30.8  37.8  87.6
2  20.6  73.2  44.2  14.6  91.8
3  57.4   0.1  96.1   4.2  69.5
4  83.6  20.5  85.4  22.8  35.9
5  49.0  69.0   0.1  31.8  89.1
6  23.3  40.7  95.0  83.8  26.9
7  27.6  26.4  53.8  88.8  68.5
8  96.6  96.4  53.4  72.4  50.1
9  73.7  39.0  43.2  81.6  34.7

### 5. Rename the data frame columns based on the names in the list below.

In [154]:
b = [[53.1, 95.0, 67.5, 35.0, 78.4],
     [61.3, 40.8, 30.8, 37.8, 87.6],
     [20.6, 73.2, 44.2, 14.6, 91.8],
     [57.4, 0.1, 96.1, 4.2, 69.5],
     [83.6, 20.5, 85.4, 22.8, 35.9],
     [49.0, 69.0, 0.1, 31.8, 89.1],
     [23.3, 40.7, 95.0, 83.8, 26.9],
     [27.6, 26.4, 53.8, 88.8, 68.5],
     [96.6, 96.4, 53.4, 72.4, 50.1],
     [73.7, 39.0, 43.2, 81.6, 34.7]]

In [156]:
# Renames the data frame columns based on the names Im guessing (they were not provided).
data = pd.DataFrame(b)
data.columns = ["Score 1", "Score 2", "Score 3", "Score 4", "Score 5"]

# Prints the data frame to see what it looks like.
print(data, "\n")

   Score 1  Score 2  Score 3  Score 4  Score 5
0     53.1     95.0     67.5     35.0     78.4
1     61.3     40.8     30.8     37.8     87.6
2     20.6     73.2     44.2     14.6     91.8
3     57.4      0.1     96.1      4.2     69.5
4     83.6     20.5     85.4     22.8     35.9
5     49.0     69.0      0.1     31.8     89.1
6     23.3     40.7     95.0     83.8     26.9
7     27.6     26.4     53.8     88.8     68.5
8     96.6     96.4     53.4     72.4     50.1
9     73.7     39.0     43.2     81.6     34.7

### 6. Create a subset of this data frame that contains only the Score 1, 3, and 5 columns.

In [159]:
# Creates a subset of the data frame that contains only the Score 1, 3 and 5 columns.
# Selects only columns 1, 3 and 5 (and their corresponding data) for the subset called data_subset.
data_subset = data.iloc[:, [0,2,4]]

print("Original DataFrame:")
print(data)

print("Subset DataFrame")
print(data_subset)

Original DataFrame:
   Score 1  Score 2  Score 3  Score 4  Score 5
0     53.1     95.0     67.5     35.0     78.4
1     61.3     40.8     30.8     37.8     87.6
2     20.6     73.2     44.2     14.6     91.8
3     57.4      0.1     96.1      4.2     69.5
4     83.6     20.5     85.4     22.8     35.9
5     49.0     69.0      0.1     31.8     89.1
6     23.3     40.7     95.0     83.8     26.9
7     27.6     26.4     53.8     88.8     68.5
8     96.6     96.4     53.4     72.4     50.1
9     73.7     39.0     43.2     81.6     34.7
Subset DataFrame
   Score 1  Score 3  Score 5
0     53.1     67.5     78.4
1     61.3     30.8     87.6
2     20.6     44.2     91.8
3     57.4     96.1     69.5
4     83.6     85.4     35.9
5     49.0      0.1     89.1
6     23.3     95.0     26.9
7     27.6     53.8     68.5
8     96.6     53.4     50.1
9     73.7     43.2     34.7

### 7. From the original data frame, calculate the average Score_3 value.

In [162]:
# Calculates the average Score 3 value.
score3_mean = data_subset["Score 3"].mean()
print(score3_mean)

56.95000000000001

### 8. From the original data frame, calculate the maximum Score_4 value.

In [165]:
# Calculates the maximum Score 4 value from the original data frame.
score4_max = data["Score 4"].max()
print(score4_max)

88.8

### 9. From the original data frame, calculate the median Score 2 value.

In [168]:
score2_median = data["Score 2"].median()
print(score2_median)

40.75

### 10. Create a Pandas DataFrame from the dictionary of product orders below.

In [171]:
orders = {'Description': ['LUNCH BAG APPLE DESIGN',
  'SET OF 60 VINTAGE LEAF CAKE CASES ',
  'RIBBON REEL STRIPES DESIGN ',
  'WORLD WAR 2 GLIDERS ASSTD DESIGNS',
  'PLAYING CARDS JUBILEE UNION JACK',
  'POPCORN HOLDER',
  'BOX OF VINTAGE ALPHABET BLOCKS',
  'PARTY BUNTING',
  'JAZZ HEARTS ADDRESS BOOK',
  'SET OF 4 SANTA PLACE SETTINGS'],
 'Quantity': [1, 24, 1, 2880, 2, 7, 1, 4, 10, 48],
 'UnitPrice': [1.65, 0.55, 1.65, 0.18, 1.25, 0.85, 11.95, 4.95, 0.19, 1.25],
 'Revenue': [1.65, 13.2, 1.65, 518.4, 2.5, 5.95, 11.95, 19.8, 1.9, 60.0]}

In [173]:
# Creates a pandas data frame from the dictionary of products.
orders = {'Description': ['LUNCH BAG APPLE DESIGN',
  'SET OF 60 VINTAGE LEAF CAKE CASES ',
  'RIBBON REEL STRIPES DESIGN ',
  'WORLD WAR 2 GLIDERS ASSTD DESIGNS',
  'PLAYING CARDS JUBILEE UNION JACK',
  'POPCORN HOLDER',
  'BOX OF VINTAGE ALPHABET BLOCKS',
  'PARTY BUNTING',
  'JAZZ HEARTS ADDRESS BOOK',
  'SET OF 4 SANTA PLACE SETTINGS'],
 'Quantity': [1, 24, 1, 2880, 2, 7, 1, 4, 10, 48],
 'UnitPrice': [1.65, 0.55, 1.65, 0.18, 1.25, 0.85, 11.95, 4.95, 0.19, 1.25],
 'Revenue': [1.65, 13.2, 1.65, 518.4, 2.5, 5.95, 11.95, 19.8, 1.9, 60.0]}

# Creates the data frame and displays its contents.
products = pd.DataFrame(orders)
print(products)

                          Description  Quantity  UnitPrice  Revenue
0              LUNCH BAG APPLE DESIGN         1       1.65     1.65
1  SET OF 60 VINTAGE LEAF CAKE CASES         24       0.55    13.20
2         RIBBON REEL STRIPES DESIGN          1       1.65     1.65
3   WORLD WAR 2 GLIDERS ASSTD DESIGNS      2880       0.18   518.40
4    PLAYING CARDS JUBILEE UNION JACK         2       1.25     2.50
5                      POPCORN HOLDER         7       0.85     5.95
6      BOX OF VINTAGE ALPHABET BLOCKS         1      11.95    11.95
7                       PARTY BUNTING         4       4.95    19.80
8            JAZZ HEARTS ADDRESS BOOK        10       0.19     1.90
9       SET OF 4 SANTA PLACE SETTINGS        48       1.25    60.00

### 11. Calculate the total quantity ordered and revenue generated from these orders.

In [176]:
# Calculates the total quantity ordered and the revenue generated from these orders.
total_quantity = products["Quantity"].sum()
revenue = products["Revenue"].sum()

print(f"The total quantity ordered is: {total_quantity}")
print(f"The total revenue generated by these orders is: {revenue}")

The total quantity ordered is: 2978
The total revenue generated by these orders is: 637.0

### 12. Obtain the prices of the most expensive and least expensive items ordered and print the difference.

In [179]:
# Obtains the prices of the most and least expensive items, and prints the difference.
most_expensive = products["UnitPrice"].max()
least_expensive = products["UnitPrice"].min()

print(f"The most expensive product costs {most_expensive}")
print(f"The lease expensive product costs {least_expensive}")

The most expensive product costs 11.95
The lease expensive product costs 0.18

## Let's load another dataset for more exercisesÂº

In [376]:
# Run this code:
admissions = pd.read_csv('../Admission_Predict.csv')

Let's evaluate the dataset by looking at the `head` function.

In [379]:
# Evaluates the dataset by using the head function.
# This will allow evaluation of the first 5 records in the data frame.
print(admissions.dtypes)

print(admissions.head())

Serial No.             int64
GRE Score              int64
TOEFL Score            int64
University Rating      int64
SOP                  float64
LOR                  float64
CGPA                 float64
Research               int64
Chance of Admit      float64
dtype: object
   Serial No.  GRE Score  TOEFL Score  University Rating  SOP  LOR   CGPA  \
0           1        337          118                  4  4.5   4.5  9.65
1           2        316          104                  3  3.0   3.5  8.00
2           3        322          110                  3  3.5   2.5  8.67
3           4        314          103                  2  2.0   3.0  8.21
4           5        330          115                  5  4.5   3.0  9.34

   Research  Chance of Admit
0         1              0.92
1         1              0.72
2         1              0.80
3         0              0.65
4         1              0.90

### 1 - Before beginning to work with this dataset and evaluating graduate admissions data, we will verify that there is no missing data in the dataset. Do this in the cell below.

In [382]:
# Verifies that there is no missing data in the dataset.
missing_eval = admissions.isnull()

# Gives a preview of the dataset for a visual examination.
print(missing_eval)

# Determines if there are any missing values in the dataset to notify accordingly.
if missing_eval.all == "False":
    print("There is no missing data in the dataset.")
else:
    print("There are missing values in the dataset.")

     Serial No.  GRE Score  TOEFL Score  University Rating    SOP   LOR   \
0         False      False        False              False  False  False
1         False      False        False              False  False  False
2         False      False        False              False  False  False
3         False      False        False              False  False  False
4         False      False        False              False  False  False
..          ...        ...          ...                ...    ...    ...
380       False      False        False              False  False  False
381       False      False        False              False  False  False
382       False      False        False              False  False  False
383       False      False        False              False  False  False
384       False      False        False              False  False  False

      CGPA  Research  Chance of Admit
0    False     False             False
1    False     False             False
2    False     False             False
3    False     False             False
4    False     False             False
..     ...       ...               ...
380  False     False             False
381  False     False             False
382  False     False             False
383  False     False             False
384  False     False             False

[385 rows x 9 columns]
There are missing values in the dataset.

###  2 -  Interestingly, there is a column that uniquely identifies the applicants. This column is the serial number column. Instead of having our own index, we should make this column our index. Do this in the cell below. Keep the column in the dataframe in addition to making it an index.

In [385]:
# Creates an index from the serial number column, keeping the serial number column as well.
admissions.set_index("Serial No.", inplace = True)

print(admissions)

print(admissions.dtypes)

            GRE Score  TOEFL Score  University Rating  SOP  LOR   CGPA  \
Serial No.
1                 337          118                  4  4.5   4.5  9.65
2                 316          104                  3  3.0   3.5  8.00
3                 322          110                  3  3.5   2.5  8.67
4                 314          103                  2  2.0   3.0  8.21
5                 330          115                  5  4.5   3.0  9.34
...               ...          ...                ...  ...   ...   ...
381               324          110                  3  3.5   3.5  9.04
382               325          107                  3  3.0   3.5  9.11
383               330          116                  4  5.0   4.5  9.45
384               312          103                  3  3.5   4.0  8.78
385               333          117                  4  5.0   4.0  9.66

            Research  Chance of Admit
Serial No.
1                  1              0.92
2                  1              0.72
3                  1              0.80
4                  0              0.65
5                  1              0.90
...              ...               ...
381                1              0.82
382                1              0.84
383                1              0.91
384                0              0.67
385                1              0.95

[385 rows x 8 columns]
GRE Score              int64
TOEFL Score            int64
University Rating      int64
SOP                  float64
LOR                  float64
CGPA                 float64
Research               int64
Chance of Admit      float64
dtype: object

Turns out that `GRE Score` and `CGPA` also uniquely identify the data. Show this in the cell below.

In [388]:
# Adds GRE Score and CGPA as index in addition to Serial number.
# It first resets the data frame to its original condition in terms of index,
# and then sets all 3 columns as index.
#admissions.reset_index(inplace = True)
#admissions.set_index(["Serial No.","GRE Score", "CGPA"], inplace = True)

new_index = pd.Index(["Serial No.", "GRE Score", "CGPA"])
print(admissions)

            GRE Score  TOEFL Score  University Rating  SOP  LOR   CGPA  \
Serial No.
1                 337          118                  4  4.5   4.5  9.65
2                 316          104                  3  3.0   3.5  8.00
3                 322          110                  3  3.5   2.5  8.67
4                 314          103                  2  2.0   3.0  8.21
5                 330          115                  5  4.5   3.0  9.34
...               ...          ...                ...  ...   ...   ...
381               324          110                  3  3.5   3.5  9.04
382               325          107                  3  3.0   3.5  9.11
383               330          116                  4  5.0   4.5  9.45
384               312          103                  3  3.5   4.0  8.78
385               333          117                  4  5.0   4.0  9.66

            Research  Chance of Admit
Serial No.
1                  1              0.92
2                  1              0.72
3                  1              0.80
4                  0              0.65
5                  1              0.90
...              ...               ...
381                1              0.82
382                1              0.84
383                1              0.91
384                0              0.67
385                1              0.95

[385 rows x 8 columns]

### 3 - In this part of the lab, we would like to test complex conditions on the entire data set at once. Let's start by finding the number of rows where the CGPA is greater than 9 and the student has performed an investigation.

In [391]:
# Finds the number of rows where the CGPA is greater than 9 and the
# student has performed an investigation.

# Initialize a counter for students meeting the criteria
count_test_1 = 0

# Iterate through each student in the admissions DataFrame
for index, student in admissions.iterrows(): 
    # Check the condition for each student individually
    if (student["CGPA"] > 9) and (student["Research"] == 1):
        count_test_1 += 1  # Increment the counter for this student

# Print the result
print(count_test_1)

# Optionally, if you want to see the original DataFrame without modifications
print(admissions.head())

101
            GRE Score  TOEFL Score  University Rating  SOP  LOR   CGPA  \
Serial No.
1                 337          118                  4  4.5   4.5  9.65
2                 316          104                  3  3.0   3.5  8.00
3                 322          110                  3  3.5   2.5  8.67
4                 314          103                  2  2.0   3.0  8.21
5                 330          115                  5  4.5   3.0  9.34

            Research  Chance of Admit
Serial No.
1                  1              0.92
2                  1              0.72
3                  1              0.80
4                  0              0.65
5                  1              0.90

### 4 - Now return all the rows where the CGPA is greater than 9 and the SOP score is less than 3.5. Find the mean chance of admit for these applicants.

In [397]:
# Returns all the rows where the CGPA is greater than 9 and the SOP score is less than 3.5.
# Finds the mean chance of admit for these applicants.

data = {
    "Serial No.": [1, 2, 3],
    "GRE Score": [320, 310, 300],
    "TOEFL score": [110, 105, 100],
    "University Rating": [5, 4, 3],
    "SOP": [4.5, 3.0, 2.5],
    "LOR": [4.0, 3.5, 3.0],
    "CGPA": [9.1, 8.5, 9.5],
    "Chance of Admit": [0.9, 0.7, 0.95]  # Sample column for chance of admit
}

# Define admissions as a DataFrame
admissions = pd.DataFrame(data)

# Display the first few rows of the DataFrame
print(admissions.head())

# Initialize the 'Test 2' column
admissions["Test 2"] = 0

# Iterate through each student in the admissions DataFrame
for index, student in admissions.iterrows(): 
    # Check the condition for each student individually
    if (student["CGPA"] > 9) and (student["SOP"] < 3.5):
        admissions.at[index, "Test 2"] = 1  # Set Test 2 to 1 for this student
    else:
        admissions.at[index, "Test 2"] = 0  # Set Test 2 to 0 for this student

result2 = admissions["Test 2"].sum()  # Sum the values in the Test 2 column
print(f"There are {result2} students that meet these requirements.")

# Display the updated DataFrame
print(admissions.head())

# Calculate the mean chance of admit for these applicants.
# Add the Chance of Admit column for the students that meet Test 2.
if "Chance of Admit" in admissions.columns:
    sum_chance = 0

    for index, student in admissions.iterrows():
        if (student["Test 2"] == 1):
            sum_chance += student["Chance of Admit"]  

    mean_chance = sum_chance / result2 if result2 > 0 else 0  
    print(f"The mean chance for those records that meet this test is {mean_chance}")
    
else:
    print("The column 'Chance of Admit' does not exist in the DataFrame.")

   Serial No.  GRE Score  TOEFL score  University Rating  SOP  LOR  CGPA  \
0           1        320          110                  5  4.5  4.0   9.1
1           2        310          105                  4  3.0  3.5   8.5
2           3        300          100                  3  2.5  3.0   9.5

   Chance of Admit
0             0.90
1             0.70
2             0.95
There are 1 students that meet these requirements.
   Serial No.  GRE Score  TOEFL score  University Rating  SOP  LOR  CGPA  \
0           1        320          110                  5  4.5  4.0   9.1
1           2        310          105                  4  3.0  3.5   8.5
2           3        300          100                  3  2.5  3.0   9.5

   Chance of Admit  Test 2
0             0.90       0
1             0.70       0
2             0.95       1
The mean chance for those records that meet this test is 0.95