# Introduction to Pandas Lab

Complete the following set of exercises to solidify your knowledge of Pandas fundamentals.

### 1. Import Numpy and Pandas and alias them to `np` and `pd` respectively.

In [1]:
import pandas as pd
import numpy as np

### 2. Create a Pandas Series containing the elements of the list below.

In [2]:
lst = [5.7, 75.2, 74.4, 84.0, 66.5, 66.3, 55.8, 75.7, 29.1, 43.7]

In [3]:
series = pd.Series(lst)
print(series)

0     5.7
1    75.2
2    74.4
3    84.0
4    66.5
5    66.3
6    55.8
7    75.7
8    29.1
9    43.7
dtype: float64

### 3. Use indexing to return the third value in the Series above.

*Hint: Remember that indexing begins at 0.*

In [4]:
# Accessing the third value in the Series (index 2)
third_value = series[2]

# Display the third value
print(third_value)

74.4

### 4. Create a Pandas DataFrame from the list of lists below. Each sublist should be represented as a row.

In [5]:
b = [[53.1, 95.0, 67.5, 35.0, 78.4],
     [61.3, 40.8, 30.8, 37.8, 87.6],
     [20.6, 73.2, 44.2, 14.6, 91.8],
     [57.4, 0.1, 96.1, 4.2, 69.5],
     [83.6, 20.5, 85.4, 22.8, 35.9],
     [49.0, 69.0, 0.1, 31.8, 89.1],
     [23.3, 40.7, 95.0, 83.8, 26.9],
     [27.6, 26.4, 53.8, 88.8, 68.5],
     [96.6, 96.4, 53.4, 72.4, 50.1],
     [73.7, 39.0, 43.2, 81.6, 34.7]]

In [6]:
# Convert the list of lists into a DataFrame
df = pd.DataFrame(b)

# Display the DataFrame
print(df)

      0     1     2     3     4
0  53.1  95.0  67.5  35.0  78.4
1  61.3  40.8  30.8  37.8  87.6
2  20.6  73.2  44.2  14.6  91.8
3  57.4   0.1  96.1   4.2  69.5
4  83.6  20.5  85.4  22.8  35.9
5  49.0  69.0   0.1  31.8  89.1
6  23.3  40.7  95.0  83.8  26.9
7  27.6  26.4  53.8  88.8  68.5
8  96.6  96.4  53.4  72.4  50.1
9  73.7  39.0  43.2  81.6  34.7

### 5. Rename the data frame columns based on the names in the list below.

In [7]:
b = [[53.1, 95.0, 67.5, 35.0, 78.4],
     [61.3, 40.8, 30.8, 37.8, 87.6],
     [20.6, 73.2, 44.2, 14.6, 91.8],
     [57.4, 0.1, 96.1, 4.2, 69.5],
     [83.6, 20.5, 85.4, 22.8, 35.9],
     [49.0, 69.0, 0.1, 31.8, 89.1],
     [23.3, 40.7, 95.0, 83.8, 26.9],
     [27.6, 26.4, 53.8, 88.8, 68.5],
     [96.6, 96.4, 53.4, 72.4, 50.1],
     [73.7, 39.0, 43.2, 81.6, 34.7]]

In [8]:
# List of new column names
columns = ['A', 'B', 'C', 'D', 'E']

# Rename the columns of the DataFrame
df.columns = columns

# Display the updated DataFrame
print(df)

      A     B     C     D     E
0  53.1  95.0  67.5  35.0  78.4
1  61.3  40.8  30.8  37.8  87.6
2  20.6  73.2  44.2  14.6  91.8
3  57.4   0.1  96.1   4.2  69.5
4  83.6  20.5  85.4  22.8  35.9
5  49.0  69.0   0.1  31.8  89.1
6  23.3  40.7  95.0  83.8  26.9
7  27.6  26.4  53.8  88.8  68.5
8  96.6  96.4  53.4  72.4  50.1
9  73.7  39.0  43.2  81.6  34.7

### 6. Create a subset of this data frame that contains only the Score 1, 3, and 5 columns.

In [9]:
# Create a subset with only the 'Score 1', 'Score 3', and 'Score 5' columns
subset_df = df[['A', 'C', 'E']]

# Display the subset DataFrame
print(subset_df)

      A     C     E
0  53.1  67.5  78.4
1  61.3  30.8  87.6
2  20.6  44.2  91.8
3  57.4  96.1  69.5
4  83.6  85.4  35.9
5  49.0   0.1  89.1
6  23.3  95.0  26.9
7  27.6  53.8  68.5
8  96.6  53.4  50.1
9  73.7  43.2  34.7

### 7. From the original data frame, calculate the average Score_3 value.

In [10]:
# Calculate the average of the 'Score 3' (column 'C')
average_score_3 = df['C'].mean()

# Display the result
print(average_score_3)

56.95000000000001

### 8. From the original data frame, calculate the maximum Score_4 value.

In [11]:
# Calculate the maximum of the 'Score 4' (column 'D')
max_score_4 = df['D'].max()

# Display the result
print(max_score_4)

88.8

### 9. From the original data frame, calculate the median Score 2 value.

In [12]:
# Calculate the median of the 'Score 2' (column 'B')
median_score_2 = df['B'].median()

# Display the result
print(median_score_2)

40.75

### 10. Create a Pandas DataFrame from the dictionary of product orders below.

In [13]:
orders = {'Description': ['LUNCH BAG APPLE DESIGN',
  'SET OF 60 VINTAGE LEAF CAKE CASES ',
  'RIBBON REEL STRIPES DESIGN ',
  'WORLD WAR 2 GLIDERS ASSTD DESIGNS',
  'PLAYING CARDS JUBILEE UNION JACK',
  'POPCORN HOLDER',
  'BOX OF VINTAGE ALPHABET BLOCKS',
  'PARTY BUNTING',
  'JAZZ HEARTS ADDRESS BOOK',
  'SET OF 4 SANTA PLACE SETTINGS'],
 'Quantity': [1, 24, 1, 2880, 2, 7, 1, 4, 10, 48],
 'UnitPrice': [1.65, 0.55, 1.65, 0.18, 1.25, 0.85, 11.95, 4.95, 0.19, 1.25],
 'Revenue': [1.65, 13.2, 1.65, 518.4, 2.5, 5.95, 11.95, 19.8, 1.9, 60.0]}

In [14]:
# Creating the DataFrame
df_orders = pd.DataFrame(orders)

# Display the DataFrame
print(df_orders)

                          Description  Quantity  UnitPrice  Revenue
0              LUNCH BAG APPLE DESIGN         1       1.65     1.65
1  SET OF 60 VINTAGE LEAF CAKE CASES         24       0.55    13.20
2         RIBBON REEL STRIPES DESIGN          1       1.65     1.65
3   WORLD WAR 2 GLIDERS ASSTD DESIGNS      2880       0.18   518.40
4    PLAYING CARDS JUBILEE UNION JACK         2       1.25     2.50
5                      POPCORN HOLDER         7       0.85     5.95
6      BOX OF VINTAGE ALPHABET BLOCKS         1      11.95    11.95
7                       PARTY BUNTING         4       4.95    19.80
8            JAZZ HEARTS ADDRESS BOOK        10       0.19     1.90
9       SET OF 4 SANTA PLACE SETTINGS        48       1.25    60.00

### 11. Calculate the total quantity ordered and revenue generated from these orders.

In [15]:
# Calculate the total quantity ordered
total_quantity = df_orders['Quantity'].sum()

# Calculate the total revenue generated
total_revenue = df_orders['Revenue'].sum()

# Display the results
print("Total Quantity Ordered:", total_quantity)
print("Total Revenue Generated:", total_revenue)

Total Quantity Ordered: 2978
Total Revenue Generated: 637.0

### 12. Obtain the prices of the most expensive and least expensive items ordered and print the difference.

In [ ]:
# Find the most expensive and least expensive unit prices
most_expensive_price = df_orders['UnitPrice'].max()
least_expensive_price = df_orders['UnitPrice'].min()

# Calculate the price difference
price_difference = most_expensive_price - least_expensive_price

# Display the results
print("Most Expensive Item Price:", most_expensive_price)
print("Least Expensive Item Price:", least_expensive_price)
print("Price Difference:", price_difference)

## Let's load another dataset for more exercisesº

In [16]:
# Run this code:
admissions = pd.read_csv('../Admission_Predict.csv')

Let's evaluate the dataset by looking at the `head` function.

In [17]:
# Display the first 5 rows of the dataset
print(admissions.head())

   Serial No.  GRE Score  TOEFL Score  University Rating  SOP  LOR   CGPA  \
0           1        337          118                  4  4.5   4.5  9.65
1           2        316          104                  3  3.0   3.5  8.00
2           3        322          110                  3  3.5   2.5  8.67
3           4        314          103                  2  2.0   3.0  8.21
4           5        330          115                  5  4.5   3.0  9.34

   Research  Chance of Admit
0         1              0.92
1         1              0.72
2         1              0.80
3         0              0.65
4         1              0.90

### 1 - Before beginning to work with this dataset and evaluating graduate admissions data, we will verify that there is no missing data in the dataset. Do this in the cell below.

In [18]:
# Check for missing data in the dataset
missing_data = admissions.isnull().sum()

# Display the number of missing values per column
print(missing_data)

Serial No.           0
GRE Score            0
TOEFL Score          0
University Rating    0
SOP                  0
LOR                  0
CGPA                 0
Research             0
Chance of Admit      0
dtype: int64

###  2 -  Interestingly, there is a column that uniquely identifies the applicants. This column is the serial number column. Instead of having our own index, we should make this column our index. Do this in the cell below. Keep the column in the dataframe in addition to making it an index.

In [19]:
# Set the 'Serial No.' column as the index, while keeping it as a column as well
admissions.set_index('Serial No.', inplace=True)

# Display the first few rows to check the new index
print(admissions.head())

            GRE Score  TOEFL Score  University Rating  SOP  LOR   CGPA  \
Serial No.
1                 337          118                  4  4.5   4.5  9.65
2                 316          104                  3  3.0   3.5  8.00
3                 322          110                  3  3.5   2.5  8.67
4                 314          103                  2  2.0   3.0  8.21
5                 330          115                  5  4.5   3.0  9.34

            Research  Chance of Admit
Serial No.
1                  1              0.92
2                  1              0.72
3                  1              0.80
4                  0              0.65
5                  1              0.90

Turns out that `GRE Score` and `CGPA` also uniquely identify the data. Show this in the cell below.

### 3 - In this part of the lab, we would like to test complex conditions on the entire data set at once. Let's start by finding the number of rows where the CGPA is greater than 9 and the student has performed an investigation.

In [20]:
# Filter rows where CGPA is greater than 9 and Research = 1 (assuming 1 means "Yes")
filtered_data = admissions[(admissions['CGPA'] > 9) & (admissions['Research'] == 1)]

# Display the number of rows that match the condition
num_rows = filtered_data.shape[0]

# Print the result
print(f"Number of rows where CGPA > 9 and student has performed an investigation: {num_rows}")

Number of rows where CGPA > 9 and student has performed an investigation: 101

### 4 - Now return all the rows where the CGPA is greater than 9 and the SOP score is less than 3.5. Find the mean chance of admit for these applicants.

In [22]:
# Filter rows where CGPA > 9 and SOP < 3.5
filtered_data = admissions[(admissions['CGPA'] > 9) & (admissions['SOP'] < 3.5)]

# Calculate the mean 'Chance of Admit' for these applicants (adjusting column name if needed)
mean_chance_of_admit = filtered_data['Chance of Admit '].mean()

# Display the result
print(f"Mean Chance of Admit for applicants with CGPA > 9 and SOP < 3.5: {mean_chance_of_admit}")

Mean Chance of Admit for applicants with CGPA > 9 and SOP < 3.5: 0.8019999999999999