# Introduction to Pandas Lab

Complete the following set of exercises to solidify your knowledge of Pandas fundamentals.

### 1. Import Numpy and Pandas and alias them to `np` and `pd` respectively.

In [6]:
import pandas as pd
import numpy as np

ModuleNotFoundError: No module named 'pandas'

### 2. Create a Pandas Series containing the elements of the list below.

In [ ]:
lst = [5.7, 75.2, 74.4, 84.0, 66.5, 66.3, 55.8, 75.7, 29.1, 43.7]

In [ ]:
import pandas as pd

# Given list
lst = [5.7, 75.2, 74.4, 84.0, 66.5, 66.3, 55.8, 75.7, 29.1, 43.7]

# Create a Pandas Series
series = pd.Series(lst)
print(series)

ModuleNotFoundError: No module named 'pandas'

### 3. Use indexing to return the third value in the Series above.

*Hint: Remember that indexing begins at 0.*

In [8]:
# Given list
lst = [5.7, 75.2, 74.4, 84.0, 66.5, 66.3, 55.8, 75.7, 29.1, 43.7]

# Create a Pandas Series
series = pd.Series(lst)

# Access the third value using indexing
third_value = series[2]  # Indexing starts at 0, so the third value has index 2
print(third_value)

NameError: name 'pd' is not defined

### 4. Create a Pandas DataFrame from the list of lists below. Each sublist should be represented as a row.

In [ ]:
b = [[53.1, 95.0, 67.5, 35.0, 78.4],
     [61.3, 40.8, 30.8, 37.8, 87.6],
     [20.6, 73.2, 44.2, 14.6, 91.8],
     [57.4, 0.1, 96.1, 4.2, 69.5],
     [83.6, 20.5, 85.4, 22.8, 35.9],
     [49.0, 69.0, 0.1, 31.8, 89.1],
     [23.3, 40.7, 95.0, 83.8, 26.9],
     [27.6, 26.4, 53.8, 88.8, 68.5],
     [96.6, 96.4, 53.4, 72.4, 50.1],
     [73.7, 39.0, 43.2, 81.6, 34.7]]

In [ ]:
# Create the Pandas DataFrame
df = pd.DataFrame(b)
print(df)

### 5. Rename the data frame columns based on the names in the list below.

In [ ]:
b = [[53.1, 95.0, 67.5, 35.0, 78.4],
     [61.3, 40.8, 30.8, 37.8, 87.6],
     [20.6, 73.2, 44.2, 14.6, 91.8],
     [57.4, 0.1, 96.1, 4.2, 69.5],
     [83.6, 20.5, 85.4, 22.8, 35.9],
     [49.0, 69.0, 0.1, 31.8, 89.1],
     [23.3, 40.7, 95.0, 83.8, 26.9],
     [27.6, 26.4, 53.8, 88.8, 68.5],
     [96.6, 96.4, 53.4, 72.4, 50.1],
     [73.7, 39.0, 43.2, 81.6, 34.7]]

In [ ]:
# Create the Pandas DataFrame
df = pd.DataFrame(b)

# Rename the columns based on the names in the list
column_names = ["A", "B", "C", "D", "E"]
df.columns = column_names

print(df)

### 6. Create a subset of this data frame that contains only the Score 1, 3, and 5 columns.

In [ ]:
# Select only the "Score 1," "Score 3," and "Score 5" columns
subset = df[["A", "C", "E"]]
print(subset)

### 7. From the original data frame, calculate the average Score_3 value.

In [ ]:
# Calculate the average of the 'C' column
average_c = df['C'].mean()
print(average_c)

### 8. From the original data frame, calculate the maximum Score_4 value.

In [ ]:
# Calculate the maximum value of the 'D' column
max_d = df['D'].max()
print(max_d)

### 9. From the original data frame, calculate the median Score 2 value.

In [ ]:
# Calculate the median value of the 'B' column
median_b = df['B'].median()
print(median_b)

### 10. Create a Pandas DataFrame from the dictionary of product orders below.

In [ ]:
orders = {'Description': ['LUNCH BAG APPLE DESIGN',
  'SET OF 60 VINTAGE LEAF CAKE CASES ',
  'RIBBON REEL STRIPES DESIGN ',
  'WORLD WAR 2 GLIDERS ASSTD DESIGNS',
  'PLAYING CARDS JUBILEE UNION JACK',
  'POPCORN HOLDER',
  'BOX OF VINTAGE ALPHABET BLOCKS',
  'PARTY BUNTING',
  'JAZZ HEARTS ADDRESS BOOK',
  'SET OF 4 SANTA PLACE SETTINGS'],
 'Quantity': [1, 24, 1, 2880, 2, 7, 1, 4, 10, 48],
 'UnitPrice': [1.65, 0.55, 1.65, 0.18, 1.25, 0.85, 11.95, 4.95, 0.19, 1.25],
 'Revenue': [1.65, 13.2, 1.65, 518.4, 2.5, 5.95, 11.95, 19.8, 1.9, 60.0]}

In [ ]:
import pandas as pd

# Given dictionary of product orders
orders = {
    'Description': ['LUNCH BAG APPLE DESIGN', 'SET OF 60 VINTAGE LEAF CAKE CASES', 'RIBBON REEL STRIPES DESIGN',
                    'WORLD WAR 2 GLIDERS ASSTD DESIGNS', 'PLAYING CARDS JUBILEE UNION JACK', 'POPCORN HOLDER',
                    'BOX OF VINTAGE ALPHABET BLOCKS', 'PARTY BUNTING', 'JAZZ HEARTS ADDRESS BOOK',
                    'SET OF 4 SANTA PLACE SETTINGS'],
    'Quantity': [1, 24, 1, 2880, 2, 7, 1, 4, 10, 48],
    'UnitPrice': [1.65, 0.55, 1.65, 0.18, 1.25, 0.85, 11.95, 4.95, 0.19, 1.25],
    'Revenue': [1.65, 13.2, 1.65, 518.4, 2.5, 5.95, 11.95, 19.8, 1.9, 60.0]
}

# Create a Pandas DataFrame from the dictionary
df = pd.DataFrame(orders)
print(df)

### 11. Calculate the total quantity ordered and revenue generated from these orders.

In [ ]:
# Calculate the total quantity ordered
total_quantity = df['Quantity'].sum()

# Calculate the total revenue generated
total_revenue = df['Revenue'].sum()

print("Total Quantity Ordered:", total_quantity)
print("Total Revenue Generated:", total_revenue)

### 12. Obtain the prices of the most expensive and least expensive items ordered and print the difference.

In [ ]:
# Obtain the prices of the most expensive and least expensive items
most_expensive_price = df['UnitPrice'].max()
least_expensive_price = df['UnitPrice'].min()

# Calculate the difference
price_difference = most_expensive_price - least_expensive_price

print("Most Expensive Price:", most_expensive_price)
print("Least Expensive Price:", least_expensive_price)
print("Price Difference:", price_difference)

## Let's load another dataset for more exercisesÂº

In [ ]:
# Run this code:
admissions = pd.read_csv('day 4/Admission_Predict.csv')

Let's evaluate the dataset by looking at the `head` function.

In [ ]:
# Display the first few rows of the dataset
print(admissions.head())

### 1 - Before beginning to work with this dataset and evaluating graduate admissions data, we will verify that there is no missing data in the dataset. Do this in the cell below.

In [ ]:
# Check for missing data
missing_data = admissions.isnull().sum()
print(missing_data)

###  2 -  Interestingly, there is a column that uniquely identifies the applicants. This column is the serial number column. Instead of having our own index, we should make this column our index. Do this in the cell below. Keep the column in the dataframe in addition to making it an index.

In [ ]:
# Set "Serial No." as the index of the DataFrame
admissions.set_index('Serial No.', drop=False, inplace=True)

Turns out that `GRE Score` and `CGPA` also uniquely identify the data. Show this in the cell below.

In [ ]:
# Demonstrating the uniqueness of "GRE Score" and "CGPA"
is_unique = admissions[['GRE Score', 'CGPA']].nunique()
print(is_unique)

### 3 - In this part of the lab, we would like to test complex conditions on the entire data set at once. Let's start by finding the number of rows where the CGPA is greater than 9 and the student has performed an investigation.

In [ ]:
# Find the number of rows where the CGPA is greater than 9 and the student has performed an investigation
num_rows = admissions[(admissions['CGPA'] > 9) & (admissions['Research'] == 1)].shape[0]
# The shape[0] is then used to obtain the number of rows meeting these conditions
print("Number of rows where CGPA is greater than 9 and the student has performed an investigation:", num_rows)

### 4 - Now return all the rows where the CGPA is greater than 9 and the SOP score is less than 3.5. Find the mean chance of admit for these applicants.

In [ ]:
#import pandas as pd
# Load the dataset
admissions = pd.read_csv('day 4/Admission_Predict.csv')

# Set "Serial No." as the index of the DataFrame
admissions.set_index('Serial No.', drop=False, inplace=True)

# Filter the rows where the CGPA is greater than 9 and the SOP score is less than 3.5
filtered_rows = admissions[(admissions['CGPA'] > 9) & (admissions['SOP'] < 3.5)]

# Find the mean chance of admission for these applicants
mean_chance_of_admit = filtered_rows['Chance of Admit '].mean()
print("Mean chance of admission for applicants with CGPA > 9 and SOP score < 3.5:", mean_chance_of_admit)