# Introduction to Pandas Lab

Complete the following set of exercises to solidify your knowledge of Pandas fundamentals.

### 1. Import Numpy and Pandas and alias them to `np` and `pd` respectively.

In [1]:
import pandas as pd
import numpy as np

### 2. Create a Pandas Series containing the elements of the list below.

In [3]:
lst = [5.7, 75.2, 74.4, 84.0, 66.5, 66.3, 55.8, 75.7, 29.1, 43.7]

In [7]:
series = pd.Series(lst) # Create a Pandas series
print(series)

0     5.7
1    75.2
2    74.4
3    84.0
4    66.5
5    66.3
6    55.8
7    75.7
8    29.1
9    43.7
dtype: float64

### 3. Use indexing to return the third value in the Series above.

*Hint: Remember that indexing begins at 0.*

In [11]:
third_value = series[2] # access the third value in the series
print(f"The third value is {third_value}")

The third value is 74.4

### 4. Create a Pandas DataFrame from the list of lists below. Each sublist should be represented as a row.

In [13]:
b = [[53.1, 95.0, 67.5, 35.0, 78.4],
     [61.3, 40.8, 30.8, 37.8, 87.6],
     [20.6, 73.2, 44.2, 14.6, 91.8],
     [57.4, 0.1, 96.1, 4.2, 69.5],
     [83.6, 20.5, 85.4, 22.8, 35.9],
     [49.0, 69.0, 0.1, 31.8, 89.1],
     [23.3, 40.7, 95.0, 83.8, 26.9],
     [27.6, 26.4, 53.8, 88.8, 68.5],
     [96.6, 96.4, 53.4, 72.4, 50.1],
     [73.7, 39.0, 43.2, 81.6, 34.7]]

In [17]:
df = pd.DataFrame(b) # create the DataFrame
print(df)

      0     1     2     3     4
0  53.1  95.0  67.5  35.0  78.4
1  61.3  40.8  30.8  37.8  87.6
2  20.6  73.2  44.2  14.6  91.8
3  57.4   0.1  96.1   4.2  69.5
4  83.6  20.5  85.4  22.8  35.9
5  49.0  69.0   0.1  31.8  89.1
6  23.3  40.7  95.0  83.8  26.9
7  27.6  26.4  53.8  88.8  68.5
8  96.6  96.4  53.4  72.4  50.1
9  73.7  39.0  43.2  81.6  34.7

### 5. Rename the data frame columns based on the names in the list below.

In [7]:
b = [[53.1, 95.0, 67.5, 35.0, 78.4],
     [61.3, 40.8, 30.8, 37.8, 87.6],
     [20.6, 73.2, 44.2, 14.6, 91.8],
     [57.4, 0.1, 96.1, 4.2, 69.5],
     [83.6, 20.5, 85.4, 22.8, 35.9],
     [49.0, 69.0, 0.1, 31.8, 89.1],
     [23.3, 40.7, 95.0, 83.8, 26.9],
     [27.6, 26.4, 53.8, 88.8, 68.5],
     [96.6, 96.4, 53.4, 72.4, 50.1],
     [73.7, 39.0, 43.2, 81.6, 34.7]]

In [23]:
column_names = ['Score_1','Score_2','Score_3','Score_4','Score_5']

df.columns = column_names # renaming the columns
print(df)

   Score_1  Score_2  Score_3  Score_4  Score_5
0     53.1     95.0     67.5     35.0     78.4
1     61.3     40.8     30.8     37.8     87.6
2     20.6     73.2     44.2     14.6     91.8
3     57.4      0.1     96.1      4.2     69.5
4     83.6     20.5     85.4     22.8     35.9
5     49.0     69.0      0.1     31.8     89.1
6     23.3     40.7     95.0     83.8     26.9
7     27.6     26.4     53.8     88.8     68.5
8     96.6     96.4     53.4     72.4     50.1
9     73.7     39.0     43.2     81.6     34.7

### 6. Create a subset of this data frame that contains only the Score 1, 3, and 5 columns.

In [25]:
# subset_df = df.iloc[:, [0,2,4]] # select columns by index
subset_df = df[['Score_1','Score_3','Score_5']] # create a subset by columns names

print(subset_df)

   Score_1  Score_3  Score_5
0     53.1     67.5     78.4
1     61.3     30.8     87.6
2     20.6     44.2     91.8
3     57.4     96.1     69.5
4     83.6     85.4     35.9
5     49.0      0.1     89.1
6     23.3     95.0     26.9
7     27.6     53.8     68.5
8     96.6     53.4     50.1
9     73.7     43.2     34.7

### 7. From the original data frame, calculate the average Score_3 value.

In [35]:
# average_score_3 = df[2].mean()
average_score_3 = df['Score_3'].mean()
print(f"The average Score_3 value is: {average_score_3}")

The average of Score_3 column is: 56.95000000000001

### 8. From the original data frame, calculate the maximum Score_4 value.

In [37]:
# max_score_4 = df[3].mean()
max_score_4 = df['Score_4'].max()
print(f"The maximun Score_4 value is: {max_score_4}")

The maximun Score_4 value is: 88.8

### 9. From the original data frame, calculate the median Score 2 value.

In [39]:
# meadian_score_2 = df[1].median()
meadian_score_2 = df['Score_2'].median()
print(f"The median Score_2 value is: {meadian_score_2}")

The median Score_2 value is: 40.75

### 10. Create a Pandas DataFrame from the dictionary of product orders below.

In [43]:
orders = {'Description': ['LUNCH BAG APPLE DESIGN',
  'SET OF 60 VINTAGE LEAF CAKE CASES ',
  'RIBBON REEL STRIPES DESIGN ',
  'WORLD WAR 2 GLIDERS ASSTD DESIGNS',
  'PLAYING CARDS JUBILEE UNION JACK',
  'POPCORN HOLDER',
  'BOX OF VINTAGE ALPHABET BLOCKS',
  'PARTY BUNTING',
  'JAZZ HEARTS ADDRESS BOOK',
  'SET OF 4 SANTA PLACE SETTINGS'],
 'Quantity': [1, 24, 1, 2880, 2, 7, 1, 4, 10, 48],
 'UnitPrice': [1.65, 0.55, 1.65, 0.18, 1.25, 0.85, 11.95, 4.95, 0.19, 1.25],
 'Revenue': [1.65, 13.2, 1.65, 518.4, 2.5, 5.95, 11.95, 19.8, 1.9, 60.0]}

In [47]:
orders_df = pd.DataFrame(orders)
print("Orders DataFrame:")
print(orders_df)

Orders DataFrame:
                          Description  Quantity  UnitPrice  Revenue
0              LUNCH BAG APPLE DESIGN         1       1.65     1.65
1  SET OF 60 VINTAGE LEAF CAKE CASES         24       0.55    13.20
2         RIBBON REEL STRIPES DESIGN          1       1.65     1.65
3   WORLD WAR 2 GLIDERS ASSTD DESIGNS      2880       0.18   518.40
4    PLAYING CARDS JUBILEE UNION JACK         2       1.25     2.50
5                      POPCORN HOLDER         7       0.85     5.95
6      BOX OF VINTAGE ALPHABET BLOCKS         1      11.95    11.95
7                       PARTY BUNTING         4       4.95    19.80
8            JAZZ HEARTS ADDRESS BOOK        10       0.19     1.90
9       SET OF 4 SANTA PLACE SETTINGS        48       1.25    60.00

### 11. Calculate the total quantity ordered and revenue generated from these orders.

In [51]:
total_quantity = orders_df['Quantity'].sum()
total_revenue = orders_df['Revenue'].sum()

print(f"The total quantity ordered is: {total_quantity}")
print(f"The total revenue generated is: {total_revenue}")

The total quantity ordered is: 2978
The total revenue generated is: 637.0

### 12. Obtain the prices of the most expensive and least expensive items ordered and print the difference.

In [69]:
most_expensive = orders_df['UnitPrice'].max()
least_expensive = orders_df['UnitPrice'].min()

difference = most_expensive - least_expensive

print(f"The difference between most {most_expensive} and least {least_expensive} expensive prices is {difference}")

The difference between most 11.95 and least 0.18 expensive prices is 11.77

## Let's load another dataset for more exercisesº

In [133]:
# Run this code:
admissions = pd.read_csv('../Admission_Predict.csv')

Let's evaluate the dataset by looking at the `head` function.

In [73]:
print(admissions.head())

   Serial No.  GRE Score  TOEFL Score  University Rating  SOP  LOR   CGPA  \
0           1        337          118                  4  4.5   4.5  9.65
1           2        316          104                  3  3.0   3.5  8.00
2           3        322          110                  3  3.5   2.5  8.67
3           4        314          103                  2  2.0   3.0  8.21
4           5        330          115                  5  4.5   3.0  9.34

   Research  Chance of Admit
0         1              0.92
1         1              0.72
2         1              0.80
3         0              0.65
4         1              0.90

### 1 - Before beginning to work with this dataset and evaluating graduate admissions data, we will verify that there is no missing data in the dataset. Do this in the cell below.

In [84]:
admissions_df = pd.DataFrame(admissions)

# Check for missing values in the DataFrame
missing_values = pd.isnull(admissions_df)

# Count missing values in each column
missing_counts = missing_values.sum()

# Count columns with missing values
columns_with_missing = missing_counts[missing_counts > 0].count()

# Check if all columns have missing values
all_columns_missing = missing_counts.all()

# Calculate the total number of missing values
total_missing_values = missing_counts.sum()

# Display the results
print("Missing Values in Each Column:\n", missing_counts)
print("\nNumber of Columns with Missing Values:", columns_with_missing)
print("All Columns Have Missing Values:", all_columns_missing)
print("\nTotal Missing Values in the DataFrame:", total_missing_values)

Missing Values in Each Column:
 Serial No.           0
GRE Score            0
TOEFL Score          0
University Rating    0
SOP                  0
LOR                  0
CGPA                 0
Research             0
Chance of Admit      0
dtype: int64

Number of Columns with Missing Values: 0
All Columns Have Missing Values: False

Total Missing Values in the DataFrame: 0

###  2 -  Interestingly, there is a column that uniquely identifies the applicants. This column is the serial number column. Instead of having our own index, we should make this column our index. Do this in the cell below. Keep the column in the dataframe in addition to making it an index.

In [106]:
admissions_df = admissions_df.set_index('Serial No.', drop=False) # Set 'Serial No.' as the index 
print(admissions_df.head())

            Serial No.  GRE Score  TOEFL Score  University Rating  SOP  LOR   \
Serial No.
1                    1        337          118                  4  4.5   4.5
2                    2        316          104                  3  3.0   3.5
3                    3        322          110                  3  3.5   2.5
4                    4        314          103                  2  2.0   3.0
5                    5        330          115                  5  4.5   3.0

            CGPA  Research  Chance of Admit
Serial No.
1           9.65         1              0.92
2           8.00         1              0.72
3           8.67         1              0.80
4           8.21         0              0.65
5           9.34         1              0.90

Turns out that `GRE Score` and `CGPA` also uniquely identify the data. Show this in the cell below.

### 3 - In this part of the lab, we would like to test complex conditions on the entire data set at once. Let's start by finding the number of rows where the CGPA is greater than 9 and the student has performed an investigation.

In [108]:
# Filter rows where CGPA > 9 and Research = 1
filtered_rows_df = admissions_df[(admissions_df['CGPA'] > 9) & (admissions_df['Research'] == 1)]

# Count the number of rows
number_of_rows = filtered_rows_df.shape[0]

# Display the result
print(f"The number of rows where CGPA > 9 and the student has performed research is {number_of_rows}")

The number of rows where CGPA > 9 and the student has performed research is 101

### 4 - Now return all the rows where the CGPA is greater than 9 and the SOP score is less than 3.5. Find the mean chance of admit for these applicants.

In [130]:
# Filter rows where CGPA > 9 and SOP < 3.5
filtered_rows_df = admissions_df[(admissions_df['CGPA'] > 9) & (admissions_df['SOP'] < 3.5)]

print(filtered_rows_df.columns) # Check the real name of the column 'Chance of Admit '
filtered_rows_df.columns = admissions_df.columns.str.strip() # Remove spaces at the end
print(filtered_rows_df.columns) # Check the real name of the column 'Chance of Admit '
print()

# Count the number of rows
number_of_rows = filtered_rows_df.shape[0]
# mean chance of admit for applications 
mean_chance_of_admit = filtered_rows_df['Chance of Admit'].mean()

# Display the result
print(f'Rows in selection: {number_of_rows}')
print(f"The mean chance of adminit for students where CGPA > 9 and SOP < 3.5 is {mean_chance_of_admit:.2f}")

Index(['Serial No.', 'GRE Score', 'TOEFL Score', 'University Rating', 'SOP',
       'LOR ', 'CGPA', 'Research', 'Chance of Admit '],
      dtype='object')
Index(['Serial No.', 'GRE Score', 'TOEFL Score', 'University Rating', 'SOP',
       'LOR', 'CGPA', 'Research', 'Chance of Admit'],
      dtype='object')

Rows in selection: 5
The mean chance of adminit for students where CGPA > 9 and SOP < 3.5 is 0.80