# Introduction to Pandas Lab

Complete the following set of exercises to solidify your knowledge of Pandas fundamentals.

### 1. Import Numpy and Pandas and alias them to `np` and `pd` respectively.

In [19]:
import pandas as pd
import numpy as np

### 2. Create a Pandas Series containing the elements of the list below.

In [20]:
lst = [5.7, 75.2, 74.4, 84.0, 66.5, 66.3, 55.8, 75.7, 29.1, 43.7]

In [21]:
df = pd.DataFrame(lst)

### 3. Use indexing to return the third value in the Series above.

*Hint: Remember that indexing begins at 0.*

In [22]:
print(df.iloc[2])

0    74.4
Name: 2, dtype: float64

### 4. Create a Pandas DataFrame from the list of lists below. Each sublist should be represented as a row.

In [23]:
b = [[53.1, 95.0, 67.5, 35.0, 78.4],
     [61.3, 40.8, 30.8, 37.8, 87.6],
     [20.6, 73.2, 44.2, 14.6, 91.8],
     [57.4, 0.1, 96.1, 4.2, 69.5],
     [83.6, 20.5, 85.4, 22.8, 35.9],
     [49.0, 69.0, 0.1, 31.8, 89.1],
     [23.3, 40.7, 95.0, 83.8, 26.9],
     [27.6, 26.4, 53.8, 88.8, 68.5],
     [96.6, 96.4, 53.4, 72.4, 50.1],
     [73.7, 39.0, 43.2, 81.6, 34.7]]

In [24]:
df = pd.DataFrame(b)

### 5. Rename the data frame columns based on the names in the list below.

In [25]:
column_names = ['score_1', 'score_2', 'score_3', 'score_4', 'score_5']

In [26]:
column_names = ['score_1', 'score_2', 'score_3', 'score_4', 'score_5']

df.columns = column_names

### 6. Create a subset of this data frame that contains only the Score 1, 3, and 5 columns.

In [27]:
df_subset = df[['score_1', 'score_3', 'score_5']]

### 7. From the original data frame, calculate the average Score_3 value.

In [28]:
df['score_3'].mean()

56.95000000000001

### 8. From the original data frame, calculate the maximum Score_4 value.

In [29]:
df['score_4'].max()

88.8

### 9. From the original data frame, calculate the median Score 2 value.

In [30]:
df['score_2'].median()

40.75

### 10. Create a Pandas DataFrame from the dictionary of product orders below.

In [31]:
orders = {'Description': ['LUNCH BAG APPLE DESIGN',
  'SET OF 60 VINTAGE LEAF CAKE CASES ',
  'RIBBON REEL STRIPES DESIGN ',
  'WORLD WAR 2 GLIDERS ASSTD DESIGNS',
  'PLAYING CARDS JUBILEE UNION JACK',
  'POPCORN HOLDER',
  'BOX OF VINTAGE ALPHABET BLOCKS',
  'PARTY BUNTING',
  'JAZZ HEARTS ADDRESS BOOK',
  'SET OF 4 SANTA PLACE SETTINGS'],
 'Quantity': [1, 24, 1, 2880, 2, 7, 1, 4, 10, 48],
 'UnitPrice': [1.65, 0.55, 1.65, 0.18, 1.25, 0.85, 11.95, 4.95, 0.19, 1.25],
 'Revenue': [1.65, 13.2, 1.65, 518.4, 2.5, 5.95, 11.95, 19.8, 1.9, 60.0]}

In [32]:
df = pd.DataFrame(orders)

### 11. Calculate the total quantity ordered and revenue generated from these orders.

In [33]:
# # Quantity
# print(df.iloc[0, 1])

# #Unit Price
# print(df.iloc[0, 2])


total_quantity = df['Quantity'].sum()

print("Total Quantity:", total_quantity)

Total Quantity: 2978

### 12. Obtain the prices of the most expensive and least expensive items ordered and print the difference.

In [34]:
# #Unit Price
# print(df.iloc[0, 2])

most_expensive_item_price = df['UnitPrice'].max()
most_expensive_item_description = df.loc[df['UnitPrice'] == most_expensive_item_price, 'Description'].iloc[0]

least_expensive_item_price = df['UnitPrice'].min()
least_expensive_item_description = df.loc[df['UnitPrice'] == least_expensive_item_price, 'Description'].iloc[0]


print(f'Most expensive item is {most_expensive_item_description} at a price of ${most_expensive_item_price}')
print(f'Least expensive item is {least_expensive_item_description} at a price of ${least_expensive_item_price}')
print(f'The difference is {most_expensive_item_price} - {least_expensive_item_price} = {most_expensive_item_price - least_expensive_item_price}')

Most expensive item is BOX OF VINTAGE ALPHABET BLOCKS at a price of $11.95
Least expensive item is WORLD WAR 2 GLIDERS ASSTD DESIGNS at a price of $0.18
The difference is 11.95 - 0.18 = 11.77

## Let's load another dataset for more exercisesÂº

In [35]:
import pandas as pd

# Run this code:
admissions = pd.read_csv('../Admission_Predict.csv')

Let's evaluate the dataset by looking at the `head` function.

In [36]:
admissions.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,316,104,3,3.0,3.5,8.00,1,0.72
2,3,322,110,3,3.5,2.5,8.67,1,0.80
3,4,314,103,2,2.0,3.0,8.21,0,0.65
4,5,330,115,5,4.5,3.0,9.34,1,0.90

### 1 - Before beginning to work with this dataset and evaluating graduate admissions data, we will verify that there is no missing data in the dataset. Do this in the cell below.

In [37]:
admissions.isnull().values.any()
#there is no missing data. 

# Automatically clean and standarize column names. 
admissions.columns = admissions.columns.str.strip().str.replace(' ', '_').str.lower()
print(admissions.columns.tolist())

['serial_no.', 'gre_score', 'toefl_score', 'university_rating', 'sop', 'lor', 'cgpa', 'research', 'chance_of_admit']

###  2 -  Interestingly, there is a column that uniquely identifies the applicants. This column is the serial number column. Instead of having our own index, we should make this column our index. Do this in the cell below. Keep the column in the dataframe in addition to making it an index.

In [38]:
admissions['serial_no._copy'] = admissions['serial_no.']
admissions = admissions.set_index('serial_no.')
#kept it as a copy

Turns out that `GRE Score` and `CGPA` also uniquely identify the data. Show this in the cell below.

### 3 - In this part of the lab, we would like to test complex conditions on the entire data set at once. Let's start by finding the number of rows where the CGPA is greater than 9 and the student has performed an investigation.

In [39]:
cpga_greater_than_9_and_research = admissions[
    (admissions['cgpa'] > 9) & (admissions['research'] == 1)
]

print(cpga_greater_than_9_and_research)

            gre_score  toefl_score  university_rating  sop  lor  cgpa
serial_no.
1                 337          118                  4  4.5  4.5  9.65  \
5                 330          115                  5  4.5  3.0  9.34
11                328          112                  4  4.0  4.5  9.10
20                328          116                  5  5.0  5.0  9.50
21                334          119                  5  5.0  4.5  9.70
...               ...          ...                ...  ...  ...   ...
380               329          111                  4  4.5  4.0  9.23
381               324          110                  3  3.5  3.5  9.04
382               325          107                  3  3.0  3.5  9.11
383               330          116                  4  5.0  4.5  9.45
385               333          117                  4  5.0  4.0  9.66

            research  chance_of_admit  serial_no._copy
serial_no.
1                  1             0.92                1
5                  1             0.90                5
11                 1             0.78               11
20                 1             0.94               20
21                 1             0.95               21
...              ...              ...              ...
380                1             0.89              380
381                1             0.82              381
382                1             0.84              382
383                1             0.91              383
385                1             0.95              385

[101 rows x 9 columns]

### 4 - Now return all the rows where the CGPA is greater than 9 and the SOP score is less than 3.5. Find the mean chance of admit for these applicants.

In [40]:
print(admissions.columns.tolist())

['gre_score', 'toefl_score', 'university_rating', 'sop', 'lor', 'cgpa', 'research', 'chance_of_admit', 'serial_no._copy']

In [41]:
cpga_greater_than_9_and_sop_less_than_3p5 = admissions[
    (admissions['cgpa'] > 9) & (admissions['sop'] < 3.5)
]

print(cpga_greater_than_9_and_sop_less_than_3p5)

print(f"Mean chance to admit where CGPA is greater than 9 and the SOP score is less than 3.5 is: {cpga_greater_than_9_and_sop_less_than_3p5['chance_of_admit'].mean()}")

            gre_score  toefl_score  university_rating  sop  lor  cgpa
serial_no.
29                338          118                  4  3.0  4.5  9.40  \
63                327          114                  3  3.0  3.0  9.02
141               326          114                  3  3.0  3.0  9.11
218               324          111                  4  3.0  3.0  9.01
382               325          107                  3  3.0  3.5  9.11

            research  chance_of_admit  serial_no._copy
serial_no.
29                 1             0.91               29
63                 0             0.61               63
141                1             0.83              141
218                1             0.82              218
382                1             0.84              382
Mean chance to admit where CGPA is greater than 9 and the SOP score is less than 3.5 is: 0.8019999999999999